@model Day1.Models.UserModel


@{
    ViewData["Title"] = "User Form";
    var currentTime = DateTime.Now.ToString("F");
}

<h1>@ViewData["Title"]</h1>
<p>Current Time: @currentTime</p>

<form asp-action="UserForm" method="post">
    <div>
        <label>Name</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label>Age</label>
        <input asp-for="Age" />
        <span asp-validation-for="Age"></span>
    </div>
    <div>
        <label>Address</label>
        <input asp-for="Address" />
        <span asp-validation-for="Address"></span>
    </div>
    <div>
        <label>Gender</label>
        <input asp-for="Gender" />
        <span asp-validation-for="Gender"></span>
    </div>
    <button type="submit">Submit</button>
</form>
