@model Day_4.Models.Employee

@{
    ViewData["Title"] = "Edit Employee";
}

<h2>Edit Employee</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Employee</h4>
        <hr />
        <input type="hidden" asp-for="EmployeeId" />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Age" class="control-label"></label>
            <input asp-for="Age" class="form-control" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="City" class="control-label"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DepartmentId" class="control-label"></label>
            <select asp-for="DepartmentId" class="form-control">
                @foreach (var dept in ViewBag.Departments)
                {
                    var selected = dept.Value == Model.DepartmentId.ToString() ? "selected" : "";
                    <option value="@dept.Value" selected>@dept.Text</option>
                }
            </select>
            <span asp-validation-for="DepartmentId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
