@{
    ViewData["Title"] = "Employee Form Result";
}

<h1>@ViewData["Title"]</h1>

<div>
    <p>Name: @TempData["Name"]</p>
    <p>Age: @TempData["Age"]</p>
    <p>Address: @TempData["City"]</p>
</div>
